.form {
  margin-bottom: 50px;

  .form__row {
    margin-bottom: 15px;
    max-width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .form__input {
    padding: 0 10px;
    padding-top: 4px;
    height: 30px;
    width: 60%;
    border: none;
    border-bottom: 4px solid #dff1ff;
    border-radius: 5px;
  }

  .form__input::placeholder {
    font: inherit;
  }

  .input_color {
    padding: 0;
    width: 10%;
  }

  .form__btn {
    margin-right: 10px;
    padding: 5px 15px;
    position: relative;
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #dff1ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.15s;
    transform-style: preserve-3d;
  }

  .form__btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b4ceff;
    border-radius: inherit;
    transform: translate3d(0, 0.35em, -1em);
    transition: transform 0.15s;
  }

  .form__btn:hover {
    transform: translate(0, 0.25em);
  }

  .form__btn:hover::before {
    transform: translate3d(0, 0.25em, -1em);
  }

  .form__btn:active {
    transform: translate(0em, 0.5em);
  }

  .form__btn:active::before {
    transform: translate3d(0, 0, -1em);
  }

  .btn_race {
    width: 25%;
    background-color: #22f17b;
  }

  .btn_race::before {
    background-color: #12b558;
  }
}
