.header__selected-toys {
  padding: 13px 0;
  height: 38px;
  width: 38px;
  display: block;
  font-size: var(--med-font);
  font-weight: 700;
  text-align: center;
  background: center / contain no-repeat url('../../assets/images/heart.svg');
}

.toy-tab {
  padding: 20px 15px;
  background: url('../../assets/images/toys-bg.jpg') no-repeat;
  background-attachment: fixed;
}

.toy-tab__forms {
  margin-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form {
  padding: 20px 40px;
  width: 28%;
  align-self: stretch;
  font-size: var(--large-font);
  font-weight: 300;
  background-color: var(--dark-color);
  opacity: .9;
  border-radius: 10px;
}

.form__title {
  margin-bottom: 25px;
  font-size: calc(1.2*var(--large-font));
}

.form:nth-of-type(2) .form__title { /*range filter form*/
  margin-bottom: 35px;
}

.form__cont {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form__cont:last-of-type {
  margin-bottom: 0;
}

.form__subtitle {
  margin-right: 15px;
}

.form:nth-of-type(2) .form__subtitle { /*range filter form*/
  margin-bottom: 40px;
}

.form__icon {
  margin-right: 12px;
  padding: 2px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 5px;
  transition: all .2s ease-out;
}

.form__icon:hover {
  transform: scale(1.1);
}

.form__icon:active {
  transform: scale(.95);
}

.icon-active {
  opacity: .4;
}

.ball-big {
  height: 50px;
  width: 50px;
}

.ball-med {
  height: 40px;
  width: 40px;
}

.ball-small {
  height: 30px;
  width: 30px;
}

.form__checkbox {
  height: 25px;
  width: 25px;
}

.form__slider {
  height: 10px !important;
  margin-bottom: 35px;
}

.form__slider,
.form__slider .noUi-handle {
  box-shadow: none;
}

.form__slider .noUi-connect {
  background: var(--light-color);
}

.form__slider .noUi-handle {
  height: 18px !important;
  width: 18px !important;
  top: -5px !important;
  right: -9px !important;
  border-radius: 9px !important;
}

.form__slider .noUi-handle::before,
.form__slider .noUi-handle::after {
    display: none;
}

.form__slider .noUi-tooltip {
  font-size: var(--small-font);
}

.form__select-sort {
  margin-bottom: 120px;
  padding: 0 10px;
  height: 40px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: var(--large-font);
  font-weight: 300;
  color: #fff;
  background-color: var(--light-color);
  border-radius: 25px;
}

.form__option-sort {
  font-family: 'Roboto', sans-serif;
  font-size: var(--large-font);
  font-weight: 300;
}

.toy-tab__reset-btn {
  margin: 0 auto;
  padding: 10px 15px;
  display: block;
  font-size: var(--large-font);
  color: #fff;
  background-color: var(--dark-color);
  opacity: .9;
  border: 4px solid var(--light-color);
  border-radius: 35px;
  transition: all .5s ease-out;
}

.toy-tab__reset-btn:hover {
  transform: scale(1.1);
}

.toy-tab__reset-btn:active {
  transform: scale(.95);
}

.toy-tab__error {
  padding: 20px;
  font-size: var(--large-font);
  font-weight: 300;
  background-color: var(--dark-color);
  opacity: .9;
  border-radius: 10px;
}

.toy-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 25px;
}

.card {
  padding: 10px;
  width: calc(100%/5 - 2%);
  font-size: var(--large-font);
  font-weight: 300;
  text-align: center;
  background-color: var(--dark-color);
  opacity: .9;
  border: 2px solid var(--light-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: scale(1);
}

.card_selected {
  font-weight: 400;
  color: #000;
  background-color: var(--light-color);
}

.card_selected .card__title {
  font-weight: 700;
}

.card__title {
  margin-bottom: 15px;
  font-weight: 400;
}

.card__img {
  margin-bottom: 15px;
  height: 100px;
}

.card__subtitle {
  margin-bottom: 10px;
}

.card__subtitle:last-of-type {
  margin-bottom: 0;
}

.modal {
  padding: 15px 20px;
  position: fixed;
  z-index: 3;
  top: 48%;
  left: -666px;
  font-size: var(--large-font);
  color: #fff;
  background-color: var(--dark-color);
  opacity: .9;
  border: 4px solid var(--light-color);
  border-radius: 35px;
  transition: all .2s ease-out;
}

.modal_open {
  left: calc(50% - 260px);
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  background-color: #000;
  opacity: .7;
}

.overlay_visible {
  display: block;
}
