/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/roboto-v27-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v27-latin-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v27-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v27-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v27-latin-100.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/roboto-v27-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v27-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v27-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v27-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v27-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v27-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-v27-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v27-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v27-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto-v27-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v27-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v27-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v27-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v27-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-v27-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v27-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v27-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v27-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v27-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* forum-regular - latin */
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/forum-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/forum-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/forum-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/forum-v11-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/forum-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/forum-v11-latin-regular.svg#Forum") format("svg"); /* Legacy iOS */
}

:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-br-gold: #7e6c51;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;
}

@media screen and (max-width: 1024px) {
  :root {
    --font1: 50px;
    --font2: 28px;
    --font3: 24px;
    --font4: 20px;
    --font5: 16px;
  }

  .section-main {
    padding-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font1: 40px;
    --font2: 22px;
    --font3: 20px;
    --font4: 18px;
    --font5: 16px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --font1: 28px;
    --font2: 18px;
    --font3: 16px;
    --font4: 16px;
    --font5: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font4);
  line-height: 26px;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
}

.title-break {
  display: block;
}

/*header start*/
.header__nav {
  position: relative;
}

.header {
  padding-top: 59px;
  padding-bottom: 58px;
  background-color: var(--bg-dark);
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: baseline;
  transition: all 0.5s ease-out;
}

.header__logo:hover {
  filter: invert(54%) sepia(12%) saturate(950%) hue-rotate(356deg)
    brightness(97%) contrast(88%);
}

.header__logo:active {
  filter: invert(44%) sepia(7%) saturate(1743%) hue-rotate(357deg)
    brightness(93%) contrast(85%);
}

.header__logo-img {
  margin-right: 25px;
  transition: all 150ms ease-in;
}

.header__logo-text {
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font3);
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
/*nav start*/
.header__list {
  display: flex;
}

.header__item {
  margin-right: 56px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item-link {
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  transition: all 100ms ease-in;
}

.header__item-arr {
  display: none;
  width: 12px;
  height: 12px;
}

.header__item-link:hover {
  color: var(--font-gold);
}

.header__item-link:active {
  color: var(--font-br-gold);
}

/*burger-menu start*/
.header__menu-img-cont {
  display: none;
}

.header__menu-img:nth-child(n + 1) {
  background: url("../assets/img/header-menu/1.jpg") no-repeat;
}

.header__menu-img:nth-child(n + 2) {
  background: url("../assets/img/header-menu/2.jpg") no-repeat;
}

.header__menu-img:nth-child(n + 3) {
  background: url("../assets/img/header-menu/3.jpg") no-repeat;
}

.header__soc-line {
  margin-bottom: 35px;
  display: none;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.header__soc-list {
  display: none;
}

.header__soc-item {
  display: none;
}

.header__close {
  width: 32px;
  height: 18px;
  display: none;
  position: absolute;
  top: 56px;
  right: 20px;
}

.header__line {
  margin-bottom: 6px;
  position: relative;
  display: block;
  width: 32px;
  height: 2px;
  background-color: #fff;
  transition: 0.2s;
}

.line-first-close {
  left: 2px;
  top: 8px;
  transform: rotate(45deg);
}

.line-second-close {
  display: none;
}

.line-third-close {
  left: 2px;
  transform: rotate(-45deg);
}

.header__line:last-child {
  margin-bottom: 0;
}
/*burger-menu end*/
/*nav end*/
@media screen and (max-width: 1024px) {
  .header {
    padding-top: 49px;
    padding-bottom: 48px;
  }

  .header__logo-text {
    font-size: var(--font2);
    line-height: 31px;
  }

  .header__nav {
    position: absolute;
    z-index: 3;
    top: calc(165px - 49px);
    left: -666px;
    transition: 0.5s;
  }

  .open {
    left: 55px;
  }

  .header__list {
    display: block;
  }

  .header__item {
    margin-right: 0;
    margin-bottom: 25px;
    max-width: 122px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__item-link {
    margin-right: 14px;
    line-height: 23px;
  }

  .header__item-arr {
    display: inline-block;
  }

  .header__close {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 35px;
    padding-bottom: 25px;
  }

  .header__logo-text {
    font-size: 28px;
    line-height: 50px;
  }

  .header__nav {
    max-width: 658px;
    top: calc(145px - 35px);
  }

  .carousel-unvis {
    opacity: 0;
  }

  .header__list {
    margin-bottom: 35px;
  }

  .header__item-link {
    letter-spacing: 3px;
  }

  .header__menu-img-cont {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
  }

  .header__menu-img:nth-child(3n + 1) {
    width: 658px;
    height: 194px;
  }

  .header__menu-img:nth-child(3n + 2) {
    width: 319px;
    height: 161px;
  }

  .header__menu-img:nth-child(3n + 3) {
    width: 319px;
    height: 161px;
  }

  .header__soc-line {
    display: block;
  }

  .header__soc-list {
    margin: 0 auto;
    display: block;
    max-width: 340px;
  }

  .header__soc-item {
    display: block;
  }

  .header__close {
    top: 46px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding: 35px 0;
    padding-bottom: 42px;
  }

  .header__logo-img {
    width: 29px;
  }

  .header__logo-text {
    font-size: 16px;
    line-height: 18px;
  }

  .header__nav {
    max-width: 420px;
    top: calc(125px - 35px);
  }

  .header__item-link {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .header__menu-img-cont {
    margin-bottom: 20px;
    column-gap: 12px;
    row-gap: 0;
  }

  .header__menu-img:nth-child(3n + 1) {
    order: 2;
    background: url("../assets/img/header-menu/1-mini.jpg") no-repeat;
  }

  .header__menu-img:nth-child(3n + 2) {
    order: 1;
    background: url("../assets/img/header-menu/2-mini.jpg") no-repeat;
  }

  .header__menu-img:nth-child(3n + 3) {
    order: 3;
    background: url("../assets/img/header-menu/3-mini.jpg") no-repeat;
  }

  .header__menu-img:nth-child(n) {
    width: 95px;
    height: 95px;
  }

  .header__soc-line {
    margin-bottom: 24px;
  }

  .header__soc-list {
    max-width: 260px;
  }

  .header__close {
    top: 36px;
  }
}
/*header end*/

/*main start*/
.section-title {
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font1);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}

.section-main {
  padding-top: 75px;
}
/*welcome start*/
.welcome {
  position: relative;
  background-color: var(--bg-dark);
  padding-bottom: 60px;
}

.welcome-flex {
  display: flex;
  justify-content: space-between;
}

.welcome__side-bar {
  padding-top: 150px;
  position: absolute;
  z-index: 1;
  transition: 0.5s;
}

.side-bar-unvis {
  opacity: 0;
}

.welcome__title {
  margin-bottom: 25px;
}

.welcome__subtitle {
  margin-bottom: 75px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: var(--font3);
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
}

.welcome__btn {
  padding: 24px 64px;
  display: inline-block;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  background-color: #710707;
  border-radius: 10px;
  transition: all 300ms ease;
}

.welcome__btn:hover {
  background-color: var(--font-gold);
}

.welcome__btn:active {
  background-color: var(--font-br-gold);
}
/*carousel start*/
.carousel {
  width: 69.5%;
  position: relative;
  left: 30.5%;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 30%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 30%
  );
  transition: 0.5s;
}

.carousel-container {
  position: relative;
  overflow: visible;
}

.carousel__item {
  margin: 0 auto;
  display: none;
  animation: 0.5s ease-in-out;
}

.item-active {
  display: block;
}

.carousel__img {
  width: 100%;
}

.carousel__control-panel {
  padding: 40px 74px;
  padding-right: 75px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -60px;
  right: 0;
  background-color: #000;
}

.carousel__order {
  margin-right: 55px;
  display: flex;
  font-weight: normal;
  line-height: 40px;
  color: #ffffff;
}

.carousel__all-digit::before {
  margin: 0 11px;
  font-weight: 100;
  content: "|";
}

.carousel__checkbox {
  margin-right: 60px;
  display: flex;
}

.carousel__check {
  margin-right: 25px;
  display: block;
  height: 16px;
  width: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.carousel__check:hover {
  opacity: 0.7;
}

.carousel__check:last-child {
  margin-right: 0;
}

.check-active {
  background-color: #d2b183;
}

.carousel__control {
  margin-right: 20px;
  background-color: transparent;
}

.carousel__control:last-child {
  margin-right: 0;
}
/*carousel end*/
@media screen and (max-width: 1024px) {
  .welcome__side-bar {
    padding-top: 50px;
  }

  .welcome__subtitle {
    margin-bottom: 48px;
  }

  .welcome__btn {
    padding: 17px 45px;
  }

  .carousel {
    width: 71.1%;
    left: 28.8%;
  }

  .carousel__control-panel {
    width: 68.5%;
    justify-content: end;
    bottom: -58px;
    right: 19px;
  }

  .carousel__order {
    margin-right: 45px;
  }

  .carousel__checkbox {
    margin-right: 45px;
  }

  .carousel__check {
    height: 12px;
    width: 12px;
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    padding: 0;
  }

  .welcome-flex {
    display: block;
  }

  .welcome__side-bar {
    padding-top: 0;
    position: static;
    text-align: center;
  }

  .welcome__subtitle {
    margin-bottom: 48px;
    line-height: 23px;
  }

  .welcome__btn {
    display: none;
  }

  .carousel {
    width: 100%;
    left: 0;
    -webkit-mask-image: none;
    mask-image: none;
  }

  .carousel__control-panel {
    margin: 0 auto;
    padding: 30px 0;
    position: static;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .welcome__subtitle {
    margin-bottom: 48px;
    line-height: 19px;
  }

  .carousel__control-panel {
    padding: 20px 0;
    font-size: 16px;
  }

  .carousel__order {
    margin-right: 25px;
  }

  .carousel__checkbox {
    margin-right: 25px;
  }

  .carousel__check {
    margin-right: 10px;
    height: 7px;
    width: 7px;
  }

  .carousel__control {
    margin-right: 15px;
  }

  .carousel__control-img {
    width: 20px;
  }
}
/*welcome end*/

/*visiting start*/
.visiting__title {
  margin-bottom: 103px;
  position: relative;
  color: var(--font-gold);
}

.visiting__title::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: absolute;
  left: 0;
  bottom: -27px;
}

.visiting-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visiting__card {
  margin-bottom: 74px;
}

.visiting__card-link {
  display: block;
}

.visiting__card-img {
  margin-bottom: 25px;
  width: 100%;
}

.visiting__card-name {
  margin-bottom: 23px;
  position: relative;
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font2);
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000;
  transition: all 0.5s ease-out;
}

.visiting__card-name::after {
  content: "";
  height: 2px;
  width: 68.5%;
  background-color: var(--dark-red);
  position: absolute;
  left: 0;
  bottom: -11px;
  transition: all 1s ease;
}

.visiting__card:hover .visiting__card-name::after {
  width: 100%;
}

.visiting__card:hover .visiting__card-name {
  color: var(--font-gold);
}

.visiting__card:active .visiting__card-name::after {
  width: 100%;
}

.visiting__card:active .visiting__card-name {
  color: var(--font-br-gold);
}

.visiting__card-descr1 {
  margin-bottom: 10px;
  font-weight: 200;
  color: #000;
}

.visiting__card-descr2 {
  font-weight: 200;
  font-size: var(--font5);
  line-height: 21px;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .visiting__title::after {
    bottom: -22px;
  }

  .visiting-flex {
    justify-content: space-evenly;
  }

  .visiting__card {
    margin-bottom: 58px;
    width: 33.5%;
  }

  .visiting__card-name {
    margin-bottom: 20px;
    line-height: 31px;
    letter-spacing: 3px;
  }

  .visiting__card-name::after {
    height: 2px;
    width: 45.5%;
    bottom: -13px;
  }
}

@media screen and (max-width: 768px) {
  .visiting__card {
    margin-bottom: 39px;
    width: 38.5%;
  }

  .visiting__card:last-child {
    margin-bottom: 80px;
  }

  .visiting__card-name {
    line-height: 25px;
  }

  .visiting__card-name::after {
    width: 53.5%;
    bottom: -9px;
  }

  .visiting__card-descr1 {
    line-height: 21px;
  }

  .visiting__card-descr2 {
    line-height: 19px;
  }
}

@media screen and (max-width: 420px) {
  .visiting__card {
    margin-bottom: 41px;
    width: calc(100% - 100px);
  }

  .visiting__card:last-child {
    margin-bottom: 40px;
  }

  .visiting__card-name {
    line-height: 20px;
    letter-spacing: 5px;
  }

  .visiting__card-name::after {
    width: 53.5%;
  }

  .visiting__card-descr1 {
    line-height: 19px;
  }
}
/*visiting end*/

/*explore start*/
.explore {
  padding-bottom: 75px;
  background-color: var(--bg-dark);
}

.explore-flex {
  display: flex;
  justify-items: space-between;
}

.explore__side-bar {
  margin-right: 60px;
  max-width: 660px;
}

.explore__title {
  margin-bottom: 103px;
  position: relative;
}

.explore__title::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: absolute;
  left: 0;
  bottom: -27px;
}

.explore__subtitle {
  margin-bottom: 27px;
  line-height: 38px;
  color: #fff;
}

.explore__subtitle-wrap {
  color: #caaa7d;
}

.img-comp-cont {
  position: relative;
  height: 700px;
}

.img-comp {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp img {
  display: block;
}

.explore__slider {
  width: 39px;
  height: 700px;
  position: absolute;
  z-index: 9;
  background: url("../assets/svg/slider.svg") no-repeat;
  cursor: ew-resize;
}

/*.explore__img-line {
  width: 4px;
  height: 47.5%;
  position: absolute;
  top: 0;
  left: 440px;
  background-color: #fff;
  cursor: ew-resize;
}

.down {
  top: 52.5%;
}

.explore__img-circle {
  width: 39px;
  height: 39px;
  position: absolute;
  z-index: 9;
  top: 330px;
  left: 422px;
  border: 4px solid #fff;
  border-radius: 50%;
  cursor: ew-resize;
}*/

@media screen and (max-width: 1024px) {
  .explore {
    padding-bottom: 58px;
  }

  .explore-flex {
    display: block;
  }

  .explore__side-bar {
    margin-right: 0;
    margin-bottom: 58px;
    max-width: 100%;
  }

  .explore__title::after {
    bottom: -22px;
  }

  .explore .title-break {
    display: inline;
  }

  .explore__subtitle {
    margin-bottom: 0;
  }

  .explore__subtitle:last-child {
    display: none;
  }

  .explore__img-before {
    margin: 0 auto;
    max-height: 705px;
    width: 73.1%;
  }

  .explore__img-after {
    left: 61.5%;
  }
}

@media screen and (max-width: 768px) {
  .explore {
    padding-bottom: 45px;
  }

  .explore__subtitle {
    display: none;
  }

  .explore__img-before {
    width: 100%;
  }

  .explore__img-after {
    left: 60.5%;
  }
}

@media screen and (max-width: 420px) {
  .explore {
    padding-bottom: 40px;
  }

  .explore__img-before {
    max-height: 368px;
  }

  .explore__img-after {
    left: 60.5%;
    object-position: -230px 0;
  }

  .explore__img-line {
    width: 3px;
    left: 60.5%;
  }

  .down {
    top: 52.5%;
  }

  .explore__img-circle {
    width: 20px;
    height: 20px;
    top: 47%;
    left: 58.3%;
    border: 3px solid #fff;
  }
}
/*explore end*/

/*video start*/
.video__sect-descr {
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__title {
  display: inline-block;
  color: var(--font-gold);
}

.video__subtitle {
  max-width: 720px;
  line-height: 38px;
}
/*slider start*/
.slider {
  margin-bottom: 69px;
  position: relative;
}

.video__video-cont {
  position: relative;
}

.video__video-cont-fullscr {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
}

.video__video {
  margin: 0 auto;
  margin-bottom: 40px;
  max-height: 735px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.video__btn-big-play {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 29%;
  left: 42.3%;
  background-color: rgba(0, 0, 0, 0);
  border: 8px solid #fff;
  border-radius: 50%;
  transition: all 0.2s;
}

.video__btn-big-play:hover {
  opacity: 0.75;
}

.video__btn-big-play-img {
  position: relative;
  left: 15px;
}

.video__control-panel {
  padding: 27px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: var(--bg-dark);
}

.video__btn {
  background-color: #000;
  transition: all 0.2s;
}

.btn-off {
  display: none;
}

.video__btn:hover {
  opacity: 0.6;
}

.video__btn-play {
  width: 23px;
  opacity: 0.73;
}

.video__progress {
  height: 8px;
  background: linear-gradient(
    to right,
    var(--dark-red) 0%,
    var(--dark-red) 0%,
    #c4c4c4 0%,
    #c4c4c4 100%
  );
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.video__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
  border-radius: 50%;
}

.video__progress::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: var(--dark-red);
}

.play-progress {
  width: 67%;
}

.video__btn-volume {
  width: 38px;
}

.volume-progress {
  width: 10.7%;
  background: linear-gradient(
    to right,
    var(--dark-red) 0%,
    var(--dark-red) 100%,
    #c4c4c4 0%,
    #c4c4c4 100%
  );
}

.video__btn-fullscr {
  width: 35px;
}

.slider-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slide {
  margin-bottom: 28px;
  max-height: 254px;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  width: 31.8%;
  display: none;
  border: none;
}

.slide-active {
  display: block;
}

.dots-wrapper {
  margin: 0 auto;
  max-width: 206px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  background-color: #999;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dot:hover {
  background-color: var(--dark-red);
}

.dot-active {
  background-color: #333;
}

.slider-arrow {
  font-size: 24px;
  color: #999;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.5s ease;
}

.slider-arrow:hover {
  color: var(--dark-red);
}
/*slider end*/
@media screen and (max-width: 1024px) {
  .video__sect-descr {
    margin-bottom: 0;
  }

  .video__subtitle {
    display: none;
  }

  .slider {
    margin-bottom: 54px;
  }

  .video__video {
    margin-bottom: 40px;
    max-height: 504px;
    width: 100%;
  }

  .video__btn-big-play {
    width: 152px;
    height: 152px;
    top: 29%;
    left: 42.2%;
    border: 7px solid #fff;
  }

  .video__btn-big-play-img {
    left: 10px;
    width: 63px;
    height: 83px;
  }

  .video__control-panel {
    padding: 15px 40px;
  }

  .video__progress {
    height: 5px;
  }

  .video__progress::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }

  .play-progress {
    width: 62.5%;
  }

  .video__btn-volume {
    width: 26px;
  }

  .volume-progress {
    width: 16%;
  }

  .video__btn-fullscr {
    width: 26px;
  }

  .slide {
    margin-bottom: 26px;
    width: 30.5%;
  }

  .slide iframe {
    max-height: 170px;
    width: 100%;
  }

  .dots-wrapper {
    max-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    margin-bottom: 75px;
  }

  .video__video {
    margin-bottom: 20px;
    max-height: 386px;
    object-fit: cover;
  }

  .video__btn-big-play {
    width: 80px;
    height: 80px;
    top: 18.7%;
    left: 44.5%;
    border: 4px solid #fff;
  }

  .video__btn-big-play-img {
    left: 4px;
    width: 33px;
    height: 44px;
  }

  .video__control-panel {
    padding: 12px 30px;
  }

  .play-progress {
    width: 100%;
    position: absolute;
    left: 0;
    top: -5px;
  }

  .video__btn-volume {
    width: 27px;
  }

  .volume-progress {
    width: 72.8%;
  }

  .video__btn-fullscr {
    width: 27px;
  }

  .slide {
    margin-bottom: 2px;
    width: 48.6%;
  }

  .slide iframe {
    width: 100%;
    max-height: 199px;
    object-fit: cover;
  }

  .slide-active:nth-child(n + 3) {
    display: none;
  }

  .dots-wrapper {
    max-width: 190px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}

@media screen and (max-width: 420px) {
  .slider {
    margin-bottom: 34px;
  }

  .video__video {
    margin-bottom: 40px;
    height: 226px;
  }

  .video__btn-big-play {
    width: 50px;
    height: 50px;
    top: 26%;
    left: 43.8%;
    border: 3px solid #fff;
  }

  .video__btn-big-play-img {
    left: 2.5px;
    width: 21px;
    height: 27px;
  }

  .video__control-panel {
    padding: 16px 20px;
  }

  .video__btn-play {
    width: 14px;
  }

  .video__progress {
    height: 4px;
  }

  .video__progress::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  .play-progress {
    top: -4px;
  }

  .video__btn-volume {
    width: 18px;
  }

  .volume-progress {
    width: 59%;
  }

  .video__btn-fullscr {
    width: 18px;
  }

  .slide {
    margin-bottom: 28px;
    width: 47.4%;
  }

  .slide iframe {
    width: 100%;
    max-height: 101px;
    object-fit: cover;
  }

  .slide-active:nth-child(n + 3) {
    display: none;
  }

  .dots-wrapper {
    max-width: 176px;
    align-items: center;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .slider-arrow {
    font-size: 16px;
  }
}
/*video end*/

/*gallery start*/
.gallery {
  max-height: 2200px;
  position: relative;
  overflow-y: hidden;
  background-color: var(--bg-dark);
}

.gallery::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-color: #000;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gallery__title {
  margin-bottom: 75px;
}

.masonry {
  height: 3200px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  row-gap: 24px;
  position: relative;
}

.masonry::before,
.masonry::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.masonry__item {
  width: 32.1%;
}

.masonry__item:nth-child(3n + 1) {
  order: 1;
}
.masonry__item:nth-child(3n + 2) {
  order: 2;
}
.masonry__item:nth-child(3n) {
  order: 3;
}

.slide-up {
  opacity: 0;
  transform: translateY(30%) scale(0.95);
  transition: all 0.5s;
}

.slide-up-active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.item-top {
  position: relative;
  top: 50px;
}

.masonry__item-img {
  max-height: 570px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .gallery {
    max-height: 1460px;
  }

  .masonry {
    height: 2100px;
  }

  .masonry__item {
    width: 30.9%;
  }

  .masonry__item-img {
    max-height: 380px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-height: 1220px;
  }

  .masonry {
    height: 3300px;
    column-gap: 12px;
  }

  .masonry__item {
    width: 48.4%;
  }

  .masonry__item-img {
    max-height: 440px;
  }

  .masonry__item:nth-child(2n + 1) {
    position: relative;
    top: 50px;
    order: 1;
  }
  .masonry__item:nth-child(3n + 2) {
    order: initial;
  }
  .masonry__item:nth-child(2n) {
    order: 2;
  }

  .item-top {
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 420px) {
  .gallery {
    max-height: 757px;
  }

  .masonry {
    height: 2100px;
  }

  .masonry__item {
    width: 46.9%;
  }

  .masonry__item-img {
    max-height: 223px;
  }
}
/*gallery end*/

/*tickets start*/
.tickets {
  padding: 75px 0;
}

.tickets__title {
  margin-bottom: 103px;
  position: relative;
  color: var(--font-gold);
}

.tickets__title::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: absolute;
  left: 0;
  bottom: -27px;
}

.tickets-flex {
  display: flex;
}

.tickets__img {
  margin-right: 60px;
  width: 50.2%;
}

.tickets__subtitle {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: var(--font3);
  line-height: 33px;
}

.subtitle-total {
  margin-bottom: 60px;
  letter-spacing: 1.65px;
}
/*tickets type input start*/
.tickets__radio-cont {
  display: block;
  position: relative;
  margin-top: 25px;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tickets__radio-cont:first-of-type {
  margin-top: 50px;
}

.tickets__radio-cont input {
  /*position: absolute;*/
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}

.tickets__radio-cont:hover input ~ .checkmark {
  background-color: #f1f1f1;
}

.tickets__radio-cont input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tickets__radio-cont input:checked ~ .checkmark:after {
  display: block;
}

.tickets__radio-cont .checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
}
/*tickets type input end*/
.tickets__amount {
  margin-left: auto;
  text-align: right;
}

.tickets__inp-descr {
  margin-bottom: 15px;
  margin-left: 26px;
  text-align: left;
}

.tickets__btn-group {
  margin-bottom: 10px;
  margin-left: auto;
  padding: 5px 14px;
  width: 150px;
  border: 3.5px solid #000;
}

.tickets__btn-group:last-of-type {
  margin-bottom: 50px;
}

.tickets__amount-btn {
  font-size: var(--font3);
  background-color: transparent;
  transition: all 0.2s ease;
}

.tickets__amount-btn:hover {
  color: #c4c4c4;
}

.tickets__amount-num {
  width: 72px;
  font: inherit;
  text-align: center;
  border: none;
}

.tickets__btn {
  padding: 12px 38px;
  display: block;
  font: inherit;
  color: #fff;
  letter-spacing: 2px;
  background-color: var(--bg-dark);
  transition: all 0.5s ease-out;
}

.tickets__btn:hover {
  color: #000;
  background-color: var(--font-gold);
}

@media screen and (max-width: 1024px) {
  .tickets {
    padding-bottom: 59px;
  }

  .tickets__title::after {
    bottom: -22px;
  }

  .tickets__img {
    margin-right: 80px;
    max-height: 440px;
    width: 71.1%;
    object-fit: cover;
  }

  .tickets__subtitle {
    margin-bottom: 30px;
    font-size: var(--font2);
  }

  .subtitle-total {
    margin-bottom: 69px;
  }

  .tickets__type {
    display: none;
  }

  .tickets__amount {
    margin-left: 0;
    text-align: left;
  }

  .tickets__inp-descr {
    margin-bottom: 11px;
    margin-left: 0;
    font-size: 22px;
  }

  .tickets__btn-group {
    margin-left: 0;
    margin-bottom: 27px;
    height: 50px;
    width: 100%;
    font-size: 22px;
  }

  .tickets__btn-group:last-of-type {
    margin-bottom: 25px;
  }

  .tickets__amount-num {
    width: 100px;
  }

  .tickets__btn {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .tickets {
    padding-bottom: 40px;
  }

  .tickets__img {
    margin-right: 60px;
    max-height: 340px;
    width: 61%;
  }

  .tickets__subtitle {
    margin-bottom: 39px;
    font-size: 28px;
  }

  .tickets__btn-group {
    margin-bottom: 24px;
  }

  .tickets__btn-group:last-of-type {
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 420px) {
  .tickets-flex {
    display: block;
  }

  .tickets__img {
    margin-right: 0;
    margin-bottom: 40px;
    max-height: 160px;
    width: 100%;
  }

  .tickets__amount {
    margin: 0 auto;
    max-width: 176px;
    text-align: center;
  }

  .tickets__subtitle {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .subtitle-total {
    margin-bottom: 40px;
    letter-spacing: normal;
  }

  .tickets__inp-descr {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 19px;
  }

  .tickets__btn-group {
    margin-bottom: 25px;
  }

  .tickets__btn {
    font-size: 16px;
  }
}
/*tickets end*/

/*modal start*/
/* свойства модального окна по умолчанию */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  opacity: 0;
  transition: opacity 400ms ease-in;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
  transform: translateX(0);
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  max-width: 1440px;
  margin: 10px auto;
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  padding-bottom: 90px;
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}

/* свойства для заголовка модального окна */
.modal-header {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-bottom: 36px;
}

/* свойства для кнопки "Закрыть" */
.close {
  margin-left: auto;
  display: block;
  height: 25px;
  width: 25px;
  background: url("../assets/svg/booking-page/close.svg") no-repeat;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
/*modal-body-left start*/
.modal-body-left {
  margin-right: 40px;
}

.modal-title {
  margin-bottom: 15px;
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9d8665;
}

.modal-subtitle {
  margin-bottom: 70px;
  position: relative;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-red);
}

.modal-subtitle::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: absolute;
  left: 0;
  bottom: -10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-date-time {
  display: flex;
}

.inp-top {
  display: inline-block;
  width: 190px;
}

.inp-top:first-child {
  margin-right: 20px;
}

.modal-booking-inp-cont {
  padding: 10px 15px;
  padding-top: 13px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  max-width: 400px;
  height: 45px;
  border: 1px solid #000;
}

.modal-inp-img {
  margin-right: 15px;
}

.modal-booking-inp {
  font: inherit;
  border: none;
}

.modal-booking-inp::placeholder {
  font: inherit;
  color: #000;
}

.date-inp {
  color: #fff;
}

.date-inp::-webkit-calendar-picker-indicator {
  height: 17px;
  width: 17px;
  background-image: url("../assets/svg/booking-page/arrow.svg");
}

.time-inp {
  color: #fff;
}

.time-inp::-webkit-calendar-picker-indicator {
  height: 17px;
  width: 17px;
  background-image: url("../assets/svg/booking-page/arrow.svg");
}

.select-inp::-webkit-ms-expand {
  display: none;
}

.modal-entry {
  padding: 10px 15px;
  border: 1px solid #000;
}

.modal-entry-title {
  margin-bottom: 22px;
  position: relative;
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #9d8665;
}

.modal-entry-title::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--dark-red);
  position: absolute;
  left: 0;
  bottom: -5px;
}

.modal-entry-container {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-entry-container:last-child {
  margin-bottom: 0;
}

.modal-btn-group {
  background-color: #000;
  border: 1px solid #000;
}

.modal-amount-btn {
  height: 18px;
  width: 28px;
  font-size: 18px;
  color: #fff;
  background: transparent;
}

.modal-amount-num {
  height: 23px;
  width: 35px;
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: none;
}
/*modal-body-left end*/
/*modal-body-right start*/
.modal-body-right {
  padding: 25px 30px;
  border: 1px solid #000;
}

.modal-overview-cont {
  display: flex;
  justify-content: space-between;
}

.modal-img {
  width: 150px;
  height: 120px;
}

.modal-overview {
  margin-right: 124px;
}

.modal-overview-title {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
}

.modal-overview-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
}

.modal-overview-list {
  margin-bottom: 22px;
}

.modal-overview-item {
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;
}

.modal-overview-img {
  margin-right: 15px;
}

.modal-overview-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.modal-total {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
  line-height: 26px;
}

.modal-line {
  margin-top: 8px;
  margin-bottom: 10px;
  height: 2px;
  width: 100%;
  background-color: var(--dark-red);
}

.modal-total-amount {
  margin-right: 6px;
  padding: 1px 11px;
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  color: #a4a4a3;
  text-align: center;
  background-color: #000;
  border-radius: 7px;
}

.modal-total-conclusion {
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

.modal-total-descr {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.cards {
  margin-top: 10px;
  margin-bottom: 56px;
  position: relative;
}

.card {
  padding: 15px 20px;
  width: 360px;
  height: 211px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
  border-radius: 4px;
}

.card-top {
  position: relative;
  z-index: 3;
  background-color: #bcbcbc;
}

.card-text {
  margin-bottom: 5px;
}

.card-inp {
  margin-bottom: 10px;
  padding: 10px;
  height: 35px;
  border: 0.5px solid #a4a4a3;
}

.inp-num {
  width: 215px;
}

.inp-exp {
  margin-right: 15px;
  width: 100px;
}

.inp-hold {
  width: 320px;
}

.card-visa {
  height: 16px;
  width: 55px;
  position: absolute;
  right: 20px;
  top: 32px;
}

.card-master {
  height: 32px;
  width: 53px;
  position: absolute;
  right: 20px;
  top: 65px;
}

.card-bottom {
  position: absolute;
  bottom: -30px;
  right: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  background-color: #939393;
}

.card-bottom-text {
  max-width: 75px;
  position: relative;
  top: 72px;
  left: 255px;
}

.text-cvv {
  font-size: 12px;
  text-transform: uppercase;
}

.inp-cvv {
  margin-bottom: 6px;
  width: 75px;
  position: relative;
  right: 9px;
}

.card-black-rect {
  height: 45px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 2;
  background-color: #000;
}

.modal-btn {
  margin-left: auto;
  padding: 10px 85px;
  position: relative;
  display: block;
  font-size: 22px;
  color: #fff;
  background-color: var(--dark-red);
  overflow: hidden;
  transition: background 400ms;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
/*modal-body-right end*/
@media (min-width: 1025px) {
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1024px) {
  .modal-dialog {
    margin: 0;
  }

  .modal-content {
    padding-bottom: 30px;
  }

  .modal-header {
    display: flex;
    align-items: center;
    padding: 0 27px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .modal-dialog {
    max-width: 590px;
    margin: 10px auto;
  }

  .modal-content {
    padding-bottom: 40px;
  }

  .modal-header {
    padding: 30px 30px;
    padding-bottom: 25px;
  }

  .modal-body {
    padding: 0 30px;
    display: block;
  }

  .modal-body-left {
    margin-right: 0;
    margin-bottom: 51px;
  }

  .modal-subtitle {
    margin-bottom: 53px;
  }

  .inp-top {
    width: calc(50% - 14px);
  }

  .inp-top:last-child {
    margin-left: auto;
  }

  .modal-booking-inp-cont {
    max-width: 100%;
  }

  .modal-inp-img {
    margin-right: 13px;
  }

  .modal-body-right {
    padding: 25px 15px;
  }

  .modal-overview-list {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 420px) {
  .modal-dialog {
    max-width: 420px;
    margin: 0;
  }

  .modal-content {
    padding-bottom: 50px;
  }

  .modal-body-left {
    margin-bottom: 49px;
  }

  .modal-title {
    font-size: 32px;
    line-height: 35px;
  }

  .modal-date-time {
    display: block;
  }

  .inp-top {
    width: 100%;
  }

  .inp-top:last-child {
    margin-left: 0;
  }

  .modal-overview {
    margin-right: 0;
  }

  .modal-img {
    width: 120px;
    height: 96px;
  }

  .cards {
    margin-bottom: 40px;
  }

  .card {
    width: 330px;
    height: 209px;
  }

  .card-top {
    margin-bottom: 25px;
  }

  .inp-hold {
    width: 290px;
  }

  .card-bottom {
    position: relative;
    bottom: 0;
  }

  .card-bottom-text {
    top: 72px;
    left: 225px;
  }
}
/*modal end*/

.parallax {
  height: 400px;
  width: 100%;
  background-image: url("../assets/img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .parallax {
    height: 300px;
  }
}

/*contacts start*/
.contacts {
  padding-bottom: 75px;
}

.contacts__title {
  margin-bottom: 103px;
  position: relative;
  color: var(--font-gold);
}

.contacts__title::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: absolute;
  left: 0;
  bottom: -27px;
}

.contacts-flex {
  display: flex;
  justify-content: space-between;
}

.contacts__name {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: var(--font3);
  line-height: 33px;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item-link {
  color: #000;
  transition: all 0.5s ease;
}

.contacts__item-link:hover {
  color: var(--font-gold);
}

.contacts__item-link:active {
  color: var(--font-br-gold);
}

.contacts__map {
  height: 620px;
  width: 66.7%;
}

@media screen and (max-width: 1024px) {
  .contacts {
    padding-bottom: 63px;
  }

  .contacts__title::after {
    bottom: -22px;
  }

  .contacts__name {
    margin-bottom: 32px;
    line-height: 28px;
  }

  .contacts__item {
    margin-bottom: 14px;
  }

  .contacts__map {
    width: 71.2%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    padding-bottom: 78px;
  }

  .contacts-flex {
    display: block;
  }

  .contacts__name {
    margin-bottom: 40px;
    line-height: 23px;
  }

  .contacts__info {
    margin-bottom: 40px;
  }

  .contacts__item {
    line-height: 21px;
  }

  .contacts__map {
    max-height: 476px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .contacts {
    padding-bottom: 40px;
  }

  .contacts__name {
    line-height: 19px;
  }

  .contacts__info {
    margin-bottom: 38px;
  }

  .contacts__map {
    width: 100%;
  }
}
/*contacts end*/
@media screen and (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1024px) {
  .section-main {
    padding-top: 60px;
  }

  .section-title {
    margin-bottom: 83px;
    line-height: 75px;
  }

  .welcome__title {
    margin-bottom: 22px;
    line-height: 90px;
  }

  .video__title {
    margin-bottom: 40px;
  }

  .gallery__title {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .section-main {
    padding-top: 40px;
  }

  .section-title {
    margin-bottom: 63px;
    line-height: 60px;
  }

  .welcome__title {
    margin-bottom: 25px;
  }

  .video__title {
    margin-bottom: 20px;
  }

  .gallery__title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 420px) {
  .section-title {
    line-height: 40px;
  }

  .video {
    padding-top: 36px;
  }
}
/*main end*/

/*footer start*/
.footer {
  font-weight: 100;
  font-size: var(--font4);
  line-height: 22px;
  letter-spacing: 2px;
  color: #fff;
  background-color: var(--bg-dark);
}
/*footer__top start*/
.footer__top {
  padding-top: 84px;
  padding-bottom: 50px;
  max-height: 265px;
}

.footer-flex-top {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.footer__logo {
  margin-right: 145px;
  display: flex;
  align-items: baseline;
  transition: all 0.5s ease-out;
}

.footer__logo:hover {
  filter: invert(54%) sepia(12%) saturate(950%) hue-rotate(356deg)
    brightness(97%) contrast(88%);
}

.footer__logo:active {
  filter: invert(44%) sepia(7%) saturate(1743%) hue-rotate(357deg)
    brightness(93%) contrast(85%);
}

.footer__logo-img {
  margin-right: 25px;
  transition: all 150ms ease-in;
}

.footer__logo-img:hover {
  opacity: 0.6;
}

.footer__logo-text {
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font3);
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__list {
  height: 130px;
  display: flex;
  flex-flow: column wrap;
}

.footer__item {
  margin-bottom: 26px;
  margin-right: 170px;
}

.footer__item:nth-child(3n) {
  margin-bottom: 0;
}

.footer__item-link {
  line-height: 26px;
}
/*soc-list start*/
.soc-list {
  margin-top: auto;
  margin-left: auto;
  display: flex;
}

.soc-item {
  margin-right: 25px;
}

.soc-item:last-child {
  margin-right: 0;
}

.soc-link {
  padding: 11px;
  display: block;
  height: 48px;
  width: 48px;
  border: 1px solid #666;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.soc-link:hover {
  filter: invert(54%) sepia(12%) saturate(950%) hue-rotate(356deg)
    brightness(97%) contrast(88%);
}

.soc-link:active {
  filter: invert(44%) sepia(7%) saturate(1743%) hue-rotate(357deg)
    brightness(93%) contrast(85%);
}

.soc-img {
  height: 24px;
  width: 24px;
}
/*soc-list end*/
/*footer__top end*/
.footer__line {
  height: 3px;
  width: 100%;
  background-color: #666;
}
/*footer__bottom start*/
.footer__bottom {
  padding: 50px 0;
}

.footer-flex-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  color: #fff;
  transition: all 100ms ease-in;
}

.footer__link:hover {
  color: var(--font-gold);
}

.footer__link:active {
  color: var(--font-br-gold);
}
/*footer__bottom end*/
@media screen and (max-width: 1024px) {
  .footer {
    font-size: 22px;
  }

  .footer__top {
    padding-top: 60px;
    padding-bottom: 47px;
  }

  .footer__logo {
    margin-right: 40px;
  }

  .footer__list {
    margin-top: 6px;
  }

  .footer__item {
    margin-bottom: 26px;
    margin-right: 122px;
  }

  .footer__logo-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: var(--font4);
    line-height: 21px;
  }

  .footer__top {
    padding-top: 50px;
    padding-bottom: 46px;
    max-height: 300px;
  }

  .footer__logo {
    margin-right: 99px;
  }

  .footer__list {
    margin-top: 0;
    margin-bottom: 36px;
  }

  .footer__item {
    margin-bottom: 21px;
    margin-right: 185px;
  }

  .footer__soc-list {
    margin-right: 12.2%;
  }

  .footer__line {
    height: 1px;
  }

  .footer__bottom {
    padding: 40px 0;
    font-size: var(--font2);
  }
}

@media screen and (max-width: 420px) {
  .footer {
    font-size: var(--font3);
    line-height: 19px;
  }

  .footer__top {
    padding-top: 42px;
  }

  .footer__logo {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .footer__logo-img {
    margin-right: 20px;
    width: 29px;
  }

  .footer__logo-text {
    font-size: 16px;
    line-height: 18px;
  }

  .footer-flex-top {
    display: block;
  }

  .footer__list {
    height: initial;
    max-height: 100px;
  }

  .footer__item {
    margin-bottom: 30px;
    margin-right: 23.5%;
  }

  .footer__item:nth-child(3n) {
    margin-bottom: 30px;
  }

  .footer__item:nth-child(2n) {
    margin-bottom: 0;
  }

  .footer__item-link {
    line-height: 19px;
  }

  .footer__soc-list {
    max-width: 260px;
    margin: 0 auto;
  }

  .soc-item {
    margin-right: 5px;
  }

  .rs-link {
    display: none;
  }
}
/*footer end*/
