*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #131313;
}

input:disabled {
  background-color: #b4ceff;
}

input:disabled::placeholder {
  color: transparent;
}

#root {
  margin: 0 60px;
}
