*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
}

input:disabled {
  background-color: #b4ceff;
}

input:disabled::placeholder {
  color: transparent;
}

#root {
  margin: 0 auto;
  max-width: 1400px;
}
